<!--div>
            <md-progress-linear md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-linear>
        </div-->
<aside class="aside-menu" flex style="background-color: #40403e">
    <div class="title">
        <img layout-padding src="assets/img/menu.png"/>
    </div>
    <nav>
        <ul>
            <li hover-bg-image="../public/assets/img/vision.png">
                <span>Vision</span>
            </li>
            <li class="detail">
                <a href="#">
                    <span>Detailled view</span>
                    <img src="assets/img/detail.png">
                </a>
            <li class="manage">
                <a href="#">
                    <span>Manage assets</span>
                    <img src="assets/img/manage.png">
                </a>
            </li>
        </ul>
    </nav>
</aside>
