<section layout="row" flex class="md-medium-tall">
    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="true">
        <md-toolbar>
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
        <md-content layout-padding>
            <md-list>
                <md-list-item>
                    <md-icon>yonvlkfdnlkvqkfdnqv=klvn=kdfv=kdn=kn</md-icon>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
</section>
