/* styles in src/style directory are applied to the whole page */

@font-face {
    font-family: 'BNPP Sans', sans-serif;
    font-weight: normal;
    src: url('../public/assets/fonts/BNPP Sans.ttf');
}

body *, .md-content * {
    font-family: 'BNPP Sans', sans-serif;
    font-size: 1em;
}

md-toolbar *, md-toolbar *:before, md-toolbar *:after {
    color: #40403e;
    font-size: .6em;
}

.md-toolbar-tools {
    min-height: 64px;
}

/*
    header
*/

header span {
    padding: 0 5px 0 5px;
}

    header span.bank-separator {
        padding: 0;
    }

    header span.bank-label {
        font-weight: bold;
    }

    header span.logo {
        font-family: 'BNPP Sans', sans-serif;
        max-width: 152px;
        max-height: 42px;
    }

    header span.text-link {
        padding-left: 12px;
        text-decoration: underline;
    }

    header span.separator {
        display: inline-block;
        border-right: solid 1px #efefef;
        height: 64px;
        padding-left: 5px;
    }

a {
    text-decoration: none;
    width: 100%;
    color: #c2c2c1;
}

.aside-menu {
    background-color: #40403e;
    height: 2rem;
}

    .aside-menu div {
        outline: none;
        cursor: pointer;
    }

    .aside-menu li {
        box-sizing: content-box;
        color: #c2c2c1;
        padding: 0px !important;
    }

        .aside-menu li.vision a {
            background-image: url('../public/assets/img/vision.png');
        }

        .aside-menu li.vision:hover a {
            background-image: url('../public/assets/img/vision-rollover.png');
        }

        .aside-menu li.detail a {
            background-image: url('../public/assets/img/detail.png');
        }

        .aside-menu li.detail:hover a {
            background-image: url('../public/assets/img/detail_rollover.png');
        }

        .aside-menu li.manage a {
            background-image: url('../public/assets/img/manage.png');
        }

        .aside-menu li.manage:hover a {
            background-image: url('../public/assets/img/manage_rollover.png');
        }

        .aside-menu li a {
            padding: 20px 0;
            display: block;
            vertical-align: middle;
            background-repeat: no-repeat;
            background-attachment: inherit;
            background-position: right center;
        }

            .aside-menu li a span {
                margin-right: 20px;
            }

        .aside-menu li:hover {
            color: #957b48;
            border-right: solid 2px #957b48;
        }

a:hover {
    color: #957b48;
}

/* aside-menu */
.aside-menu {
    background-color: #40403e;
    text-align: right;
}

aside > div.title {
    border-bottom: solid 1px #636261;
}

.aside-menu > nav > ul {
    padding: 0;
    margin: 0;
    position: relative;
    vertical-align: middle;
    overflow: visible;
}

    .aside-menu > nav > ul > li {
        list-style: none;
        border-bottom: solid 1px #636261;
        text-align: center;
        width: auto;
        padding: 20px;
    }

/** breadcrumb **/
.bgl-breadcrumb {
    margin: 0px;
    padding: 0px;
    font-size: .8em;
    position: relative;
    background-color: white;
}

    .bgl-breadcrumb > md-icon {
        font-size: .8em;
        color: #c2c2c1;
    }

.breadcrumbs {
    display: inline-block;
    padding: 0;
}

    .breadcrumbs > li {
        display: inline-block;
        padding: 0 10px;
        color: #c2c2c1;
    }

.charting {
    width: 100%;
}

.donut {
    position: relative;
    top: 67px;
    left: 180px;
}

.legende {
    position: relative;
    z-index: 100;
    top: 26px;
    right: 300px;
}

.assets-filters {
    background-color: #fff;
    border-radius: 10px;
    color: #957b48;
}

    .assets-filters h3 {
        display: inline;
        text-decoration: underline;
        width: auto;
        line-height: 10px;
    }

    .assets-filters span {
    }

/**
subheader
**/

md-toolbar.subheader {
    background-color: #e9dfca;
    min-height: 33px;
}

span.text-link {
    padding-left: 5px;
    text-decoration: underline;
}

div span.separator-sub {
    display: inline-block;
    border-right: solid 1px #d2c7b5;
    padding-left: 50px;
    height: 20px;
}

span.date {
    padding-left: 15px;
    padding-right: 15px;
}

md-datepicker {
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
}

md-switch {
    position: relative;
    left: 20px;
}

span.currency {
    padding-left: 20px;
    padding-right: 15px;
}

md-input-container md-select *, md-switch * {
    font-size: .9rem;
}


.others li {
    display: inline-block;
    list-style: none;
    background-color: #fff;
    width: 150px;
    height: 150px;
    margin: 10px;
}

    .others li a {
        display: block;
        color: #cdae6e;
        text-align: center;
    }

        .others li a md-icon {
            width: 100px;
            height: 100px;
            color: #cdae6e;
        }

/*
md-toolbar > div.md-toolbar-tools > form {
    font-size: 1.5em;
}

md-toolbar > div.md-toolbar-tools > form {
    font-size: 1.5em;
} */
md-datepicker.myDatePicker {
    padding: 0;
    marging: 0;
    height: 2.7rem;
}


/*form md-datepicker {

    position: relative;
    left: -16px;

}

form md-datepicker .md-datepicker-input-container {

    margin-left: 0;
}

form md-datepicker .md-datepicker-button.md-icon-button {
    margin-right: 0;
} */


span.date {
    padding-left: 15px;
    padding-right: 15px;
}


md-datepicker {
    padding-left: 5px;
    padding-right: 5px;
}

md-toolbar > div.md-toolbar-tools > form {
    font-size: 1.5em;
}

md-toolbar > div.md-toolbar-tools > form {
    font-size: 1.5em;
}


md-datepicker {
    margin: 0;
}

.datepicker .md-datepicker-input-container {
    background-color: #006600;
    padding-bottom: 0;
}

.subheader > md-icon {
    background-color: #006600;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 0;
    text-align: left;
}

div > md-subheader > img, md-subheader span {
    text-align: right;
    background-color: #006600;
}

*/ div .md-toolbar *, div .md-toolbar * {
    background-color: #000088;
}

.situation {
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    color: #957b48;
}

    .situation h3 {
        position: relative;
        border-bottom: solid 1px #957b48;
        line-height: 10px;
    }

    .situation .resume div {
        /*background-color: #d2c7b5;*/
        background-color: #f3eeea;
    }

    .situation .resume > div {
        height: 60px;
        margin-bottom: 10px;
    }

    .situation .resume .assets {
        padding: 0;
        background-color: #f3eeea;
    }

    .situation .resume .liabilities {
        padding: 0;
        background-color: #f3eeea;
    }

    .situation .resume .net {
        padding: 0;
        background-color: #f3eeea;
    }

div.assets md-progress-linear.md-default-theme .md-container, md-progress-linear .md-container {
    background-color: #6abaad;
    height: auto;
}

.situation .resume .assets md-progress-linear {
    padding: 0;
    background-color: #6abaad;
}

.situation .resume .liabilities md-progress-linear {
    padding: 0;
    background-color: #a4123f;
}

.situation .resume .net md-progress-linear {
    padding: 0;
    background-color: #40403e;
}

/*
footer
*/

footer {
    color: #666665;
}

    footer > div {
        width: 100%;
    }

        footer > div > span {
            margin-right: 10px;
            margin-left: 10px;
        }

    footer > md-divider {
        margin: auto;
        width: 50%;
    }

    footer .cgv span {
        padding: 0;
        margin-right: 0;
    }

    footer p, footer span {
        font-size: 0.7rem;
    }

    footer .cgv .separator {
        margin: 0;
        padding-left: 10px;
        border-right: solid 1px #666665;
        height: 15px;
    }



/* Assets */
.btn-brown {
    background-color: #52463c;
    color: white;
    font-family: 'BNPP Sans';
}

.btn-brown-no {
    background-color: #52463c;
    opacity: 0.5;
    color: white;
}

.btn-grey, .btn-grey:hover {
    background: grey;
    background: -webkit-linear-gradient(left, grey, grey); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, grey, grey); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,grey, grey); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,grey, grey); /* Standard syntax */
    color: white;
    text-transform: uppercase;
    font-family: 'BNPP Sans';
    border: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 0px 20px;
}

.btn-gold {
    background: #cdae6e; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #957a4a, #cdae6e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #957a4a, #cdae6e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #957a4a, #cdae6e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #957a4a, #cdae6e); /* Standard syntax */
    color: white;
    text-transform: uppercase;
    font-family: 'BNPP Sans';
    border: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 0px 20px;
}



.tile-asset {
    background: none;
    border: 2px solid #CDAE6E;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    padding: 10px;
}

    .tile-asset:active {
        border: 2px solid #957b47;
    }

    .tile-asset:hover {
        opacity: 0.5;
    }

    .tile-asset div {
        height: 100px;
    }

    .tile-asset span {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        display: block;
        color: black;
        text-align: center;
    }

.text-asset {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    display: block;
    color: black;
    text-align: center;
}

.tile-asset img {
    max-width: 60px;
    max-height: 60px;
    height: auto;
    vertical-align: middle;
}

.layout-no-financial {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 880px;
    width: 100%;
    background-color: #fefcfd;
}


@media screen and (max-width: 1024px) {

    .layout-no-financial {
        max-width: 700px !important;
    }
}

@media screen and (max-width: 960px) {

    .layout-no-financial {
        max-width: 530px !important;
    }
}


button:focus {
    outline: 0;
}

.first-step {
    background-image: url('../public/assets/img/FlecheEtape.png');
    color: white;
    width: 247px;
    height: 34px;
    padding-left: 15px;
    line-height: 34px;
    font-family: 'BNPP Sans';
}

.next-step {
    padding-left: 30px;
    margin-left: -15px;
    background-image: url('../public/assets/img/FlecheEtape2.png');
}


.step-disabled {
    opacity: 0.5;
}

.assets md-input-container .md-errors-spacer {
    min-height: 0;
}

.assets md-select, .assets input {
    border: 1px solid lightgrey !important;
    margin-top: 10px !important;
    font-family: 'BNPP Sans';
    padding-left: 10px !important;
    background-color: #eeeeee;
    color: black;
}

    .assets md-select span, .assets md-input-container label {
        color: black;
    }

.assets md-select {
    text-transform: uppercase;
}

.text-gold {
    font-family: 'BNPP Sans';
    text-transform: uppercase;
    color: #CDAE6E;
    padding-left: 10px;
}

.fixed-calendar {
    width: 340px;
    height: 340px;
    display: block;
}

    .fixed-calendar .md-calendar-scroll-mask {
        width: 340px !important;
    }

    .fixed-calendar .md-virtual-repeat-scroller {
        width: 340px !important;
        height: 308px;
    }

#quantity-slider .md-thumb:after {
    background-color: #CDAE6E !important;
    border-color: #CDAE6E !important;
}

#quantity-slider .md-focus-thumb, #quantity-slider .md-focus-ring {
    background-color: #CDAE6E;
}

#quantity-slider .md-track.md-track-fill {
    background-color: #CDAE6E !important;
}


/* Little menu*/
.little-menu .aside-menu li a span {
    display: none;
}

.little-menu .aside-menu li a {
    background-position: center center;
}

.little-menu sidepanel {
    max-width: 60px !important;
    width: 60px !important;
}

@media screen and (max-width: 1200px) {
    .aside-menu li a span {
        display: none;
    }

    .aside-menu li a {
        background-position: center center;
    }

    sidepanel {
        max-width: 60px !important;
        width: 60px !important;
    }
}
