/* styles in src/style directory are applied to the whole page */

@font-face {
    font-family: 'BNPP Sans', sans-serif;
    src: url('../public/assets/fonts/BNPP Sans.ttf');
}

body *, .md-content *, .md-toolbar *{
    font-family: 'BNPP Sans', sans-serif;
    font-size: 1em;
}

md-toolbar *, md-toolbar *:before, md-toolbar *:after {
    color: #40403e;
    font-size: .8em;
}

/*
    header
*/

header span {
    padding: 0 5px 0 5px;
}

header span.bank-separator {
    padding: 0;
}

header span.bank-label {
    font-weight: bold;
}

header span.logo {
    font-family: 'BNPP Sans', sans-serif;
    max-width: 152px;
    max-height: 42px;
}

header span.text-link {
    padding-left: 12px;
    text-decoration: underline;
}

header span.separator {
    display: inline-block;
    border-right: solid 1px #efefef;
    height: 64px;
    padding-left: 5px;
}


a{
    text-decoration: none;
    width: 100%;
    color: #c2c2c1;
}

.vision{
    background-image: url('../public/assets/img/vision.png');
    background-repeat: no-repeat;
    background-position: 190px;
}


.detail{
    background-image: url('../public/assets/img/detail.png');
    background-repeat: no-repeat;
    background-position: 190px;
}
.manage{
    background-image: url('../public/assets/img/manage.png');
    background-repeat: no-repeat;
    background-position: 190px;
}

/* aside-menu */
.aside-menu{
    background-color: #40403e;
    text-align: right;
}

aside > div.title{
    border-bottom: solid 1px #636261;
}

.aside-menu > nav >ul {
    padding: 0;
    margin: 0;
    position: relative;
    vertical-align: middle;
    overflow: visible;

}
.aside-menu > nav > ul >li {
    list-style: none;
    border-bottom: solid 1px #636261;
    text-align: center;
    width:auto;
    padding: 20px;
}


/**
subheader
**/

span.text-link {
    padding-left: 12px;
    text-decoration: underline;
}

div span.separator-sub {
    horiz-align: center;
    display: inline-block;
    border-right: solid 1px #d2c7b5;
    height: 70%;
    padding-left: 15px;
    padding-right: 15px;
}

md-switch {
    position: relative;
    left: 30px;
}

span.date {
    padding-left: 15px;
    padding-right: 15px;
}

span.currency {
    padding-left: 15px;
    padding-right: 15px;
}

md-datepicker {
    padding-left: 5px;
    padding-right: 5px;
}

md-toolbar > div.md-toolbar-tools > form {
    font-size: 1.5em;
}

md-toolbar > div.md-toolbar-tools > form {
    font-size: 1.5em;
}


md-datepicker {
    margin: 0;
}

.datepicker .md-datepicker-input-container {
    background-color: #006600;
    padding-bottom: 0;

}

.subheader > md-icon {
    background-color: #006600;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 0;
    text-align: left;

}

div > md-subheader > img, md-subheader span {
    text-align: right;
    background-color: #006600;
}

/*
footer
*/


footer{
    height: 30%;
}

footer > div > span{
    margin-right: 20px;
    margin-left: 20px;
}

footer > md-divider{
    margin: auto;
    width: 70%;
}
